html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wall{
  color: lightblue;
}

.goal{
  color: orange;
}

.player{
  color:grey;
}

.checked{
  font-size: 3rem;
  font-weight: bold;
  border: solid;
}
