html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: wheat;
}

.wall{
  color: lightblue;
}

.goal{
  color: orange;
}

.player{
  color:grey;
}

.red{
  color: red;
}

.orange{
  color: orange;
}

.lightblue{
  color: lightblue;
}

.grey{
  color: grey;
}

.message{
  margin-top: 2rem;
}

.title{
  font-size: 10rem;
}
